*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.font-primary{
    font-family: 'Open Sans', sans-serif;
}
.primary-color{
    color: #FD6E0A;
}
nav h3{
    margin-left: 200px;
    font-size: 45px;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding-right: 150px;
}
nav li{
    padding-right: 51px;
}
nav a{
    text-decoration: none;
    color: rgb(61, 59, 79);
}
nav button{
    background-color: #FD6E0A;
    width: 150px;
    height: 64px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
/* Nav complete */
.header{
    background-color: #FFF8F3;
    background-image: url(../Media/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;
}
.btn{
    background-color: #FD6E0A;
    width: 150px;
    height: 60px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 6px;
}
.banner-start{
    font-size: 30px;
    font-weight: bold;
    color: rgb(100, 96, 96);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0;
}
.banner-title{
    font-size: 60px;
    font-weight:bolder;
    font-family: 'Open Sans', sans-serif;
    padding-top: 3px;
}
.banner p{
    color: rgb(134, 129, 129);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 15px;
    font-size: 20px;
    padding-top: 0;
}
.banner .pp{
    width: 500px;
    margin-left: 550px;
}
/* Main section styles */
main{
    font-family: Arial, Helvetica, sans-serif;
}
/* About section styles */

.about{
    font-family: Arial, Helvetica, sans-serif;
    width: 1140px;
    height: 550px;
    background-color: rgb(255, 248, 243);
    margin-top: 130px;
    margin-bottom: 130px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 5px;
}
.section-heading{
    color:black;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-top: 170px;
}
.section-description{
    padding: 25px 157px 100px 156px;
    text-align: center;
    color: rgb(134, 129, 129);
    font-family: Arial, Helvetica, sans-serif;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    padding-right: 250px;
    padding-left: 200px;
    align-items: center;
}
.about-info{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.info-title{
    margin-bottom: 10px;
}
.info-description{
    font-weight: bold;
}

/* What I do start */
.what-i-do{
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#skill-description{
    padding: 30px 347px;
    color: rgb(134, 129, 129);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.skill-container{
    gap: 24px;

    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 130px;
    margin-left: 500px;
    margin-right: 500px;
}
.skill{
    height: 230px;
    width: 160px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px  rgba(0, 0, 0, 0.06);
    padding: 30px;
    justify-content: space-between;

}
.skill > img{
    margin-bottom: 15px;
}
.skill > .skill-title{
    margin-bottom: 13px;
}
.skill-title .skill-description{
    width: 204px;
    height: 243px;
}
.skill-description{
    color: rgb(134, 129, 129);;
}
/* Summary Start */
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.item-description, .item-place{
    color: #757575;
}
.item-place{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
}
.item-title{
    font-size: 25px;
    color: #474747;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-container hr{
    margin: 30px;
}
.download-cv{
    text-align: center;
}
.btn-primary{
    background-color: #FD6E0A;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 30px;
}
.resume-container{
    width: 1140px;
    height: 540px;
    margin-top: 130px;
    margin-bottom: 130px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 5px;
}
.resume-title{
    text-align: center;
    font-size: 30px;
}